body {
  background-color: #0f051d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LandingPage {
  font-size: 32px;
  background: linear-gradient(91deg, #00f77a 10.6%, #00b3c8 106.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Progree Bar Animation */
.progress2 {
  width: 85px;
  height: 7px;
  border-radius: 4px;
  background-color: transparent;
}

.progress-bar2 {
  width: 85px;
  height: 7px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  background-color: #00f77a;
  animation: progress 1.5s infinite;
}

@keyframes progress {
  0% {
    width: 0%;
    background: linear-gradient(90deg, #00f77a 2.1%, #00b8c2 107.99%);
  }

  100% {
    width: 100%;
    background: linear-gradient(90deg, #00f77a 2.1%, #00b8c2 107.99%);
    /* box-shadow: 0 0 40px #00f77a; */
  }
}

/* Pregress end */

.template {
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 5px;
  color: #0f051d;
  text-transform: capitalize;
  background: linear-gradient(90deg, #00f57d 2%, #00b0cb 80%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
}

/* Watch Now Button */
.Watch-Now-Btn {
  margin-top: 50px;
  width: 227px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 17px;
  color: white;
  border-radius: 26px;
  background: linear-gradient(93deg, #00fd74 1.34%, #00adcf 98.8%);
}

/* Images */

.abstractCircle {
  background-image: url("./assets/abstractCircle.svg");
  background-repeat: no-repeat;
  width: 865px;
  height: 865px;
  display: flex;
  background-size: cover;

  animation-name: abstractCircle;
  animation-duration: 59s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes abstractCircle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.dotedCircle {
  background-image: url("./assets/dotedCircle.svg");
  background-repeat: no-repeat;
  width: 759px;
  height: 759px;
  background-size: cover;
  position: absolute;

  animation-name: dotedCircle;
  animation-duration: 59s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes dotedCircle {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.robot {
  background-image: url("./assets/robot.svg");
  background-repeat: no-repeat;
  width: 856px;
  height: 892px;
  background-size: contain;
  position: absolute;
  margin-top: 180px;
}

/* Floating Animation Start */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Floating End */

/* *********************BOX ANIMATION************** */

/* Box-1 */
.box1 {
  animation-delay: 0s;
}

.animated-box {
  animation: moveAnimation 8s linear infinite;
  animation-fill-mode: both;
}

@keyframes moveAnimation {
  0% {
    transform: translateX(100px) translateY(0);
    opacity: 0.1;
  }
  25% {
    transform: translateX(-100px) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100px) translateY(600px);
    opacity: 1;
  }
  75% {
    transform: translateX(100px) translateY(600px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(100px) translateY(0);
    opacity: 0;
  }
}

.box2 {
  animation-delay: 2s;
}


.box3 {
  animation-delay: 4s;
}


.box4 {
  animation-delay: 6s;
}
